<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Category</h3>
  </div>
  <table class="table">
    <thead>
      <th>
        <td class='location'>Location</td>
        <td class='position'>Position</td>
        <td class='company'>Company</td>
      </th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
