<% @jobs.each do |category, jobs| %>
<div class="panel panel-default <%= category %>">
  <div class="panel-heading">
    <h3 class="panel-title">%<= category %></h3>
  </div>
  <table class="table">
    <thead>
      <th>
        <td>Location</td>
        <td>Position</td>
        <td>Company</td>
      </th>
    </thead>
    <tbody>
    <% jobs.each do |job| %>
      <tr>
        <td class="location"><%= job.location %></td>
        <td class="position"><%= job.position %></td>
        <td class="company"><%= job.company %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>
